{% extends 'base.html.twig' %}

{% block title %}Show Analysis | Back{% endblock %}

{% block body %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Analysis</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('analysis') }}">Analysis</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container-fluid">
    <div class="row fila-blog">
        <div class="container-fluid">
            <a style="text-decoration: none; color: white" class="btn px-0 py-0 mt-0 " href="{{ path('analysis') }}">
                <button class="btn btn-danger">
                    <i class="far fa-arrow-alt-circle-left"></i> Back
                </button>
            </a>
            <hr>
            <div class="col-12 col-entradas-blog">

                <h2>Analysis</h2>
                        <section class="card border shadow mt-3">
                            <div class="row p-3">
                                <div class="col-3">
                                    <img class="w-100 p-3" src="{{ asset(analysis_public_directory ~  analysis.image) }}" alt="imagen-entrada-blog">
                                </div>
                                <div class="col-8">
                                    <h1 class="titulo-entrada">{{ analysis.title }}</h1>
                                    <p class="fecha-entrada"><i class="fas fa-calendar"></i>&nbsp;Published on: <span>{{ analysis.date | date }}</span><span class="mx-5 px-3 bg-primary">{{analysis.category.name}}</span></p>
                                    <p class="texto-entrada">{{ analysis.content }} </p>
                                    <div class="row justify-content-end mt-4 mb-0">
                                        <a href="{{path('create_comment', {id: analysis.id})}}"><button class="btn btn-cyan mx-1">Reply</button></a>
                                        <a href="{{path('edit_analysis', {id: analysis.id})}}"><button class="btn btn-warning mx-1">Edit</button></a>
                                        <a href="{{path('delete_analysis', {id: analysis.id})}}"><button class="btn btn-danger mx-1">Delete</button></a>
                                    </div>
                                    <hr>
                                    <div class="row justify-content-start mt-4 mb-0">
                                        {% if comment %}
                                        {% for comment in comment %}
                                            {% if comment.picture %}
                                        <div class="col-2">

                                            <img class="w-50 p-3" src="{{ asset(avatar_public_directory ~  comment.picture) }}" alt="image">
                                        </div>
                                            {% endif %}

                                        <div class="col-8">
                                        <p class="fecha-entrada mt-3"><i class="fas fa-calendar"></i>&nbsp;Published on: <span>{{ comment.date | date }}</span></p>
                                        <p class="mt-2">{{ comment.message }}</p>


                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

            </div>
            </div>
        </div>
    </div>
    {% endblock %}
