{% extends 'base.html.twig' %}

{% block title %}Edit Analysis | Back{% endblock %}
{% block body %}

    <div class="container-fluid">
        <a style="text-decoration: none; color: white" class="btn px-0 py-0 mt-0 " href="{{ path('comments') }}">
            <button class="btn btn-secondary">
                <i class="far fa-arrow-alt-circle-left"></i> Back
            </button>
        </a>
        <div class="row justify-content-center">
            <div class="col-4">
                <h2 class="mt-4">Edit Comment</h2>
                <hr>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}